/***Global Definitions***/
*{
    -fx-main-background: #0e0e0e;
    -fx-main-text-fill: #e0e0e0;
    -fx-main-border-color: -fx-main-text-fill;
    -fx-main-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}



.root{
    -fx-background-color: -fx-main-background;
    -fx-focus-color: transparent;
    -fx-font-family: -fx-main-font-family;
}

.toptab .tab-header-area{
    -fx-padding:0 0 0 30;
    -fx-pref-height: 30;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #3a3a3a;
    -fx-font-size: 12px;
}

.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #d8d8d8;
    -fx-font-size: 12px;
}

.menu-bar{
    -fx-background-color: #d0d0d0;
}

.menu-bar .label{
    -fx-text-fill: black;
}

.context-menu{
    -fx-background-color: #d0d0d0;
}

.tab{
    -fx-background-color: #d8d8d8;
}

.tab:selected{
    -fx-background-color: #3a3a3a;
}

.sidetab .tab-header-area{
    -fx-padding:25 0 0 0;
    -fx-pref-height: 30;
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-border-color: #1d1d1d;
    -fx-background-color: #1d1d1d;
}

.label{
    -fx-text-fill: -fx-main-text-fill;
    -fx-font-family: -fx-main-font-family;
}

.check-box{
    -fx-text-fill: black;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: -fx-main-border-color;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -fx-main-background;
    -fx-font-family: -fx-main-font-family;
    -fx-font-size: 11pt;
    -fx-text-fill: -fx-main-text-fill;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
    -fx-padding: 5 22 5 22;
    -fx-text-fill: #a3a3a3;
}