.test .tab-header-area{
    -fx-padding:0 0 0 26
}
.other .tab-header-area{
    -fx-padding:25 0 0 0;
}

.background{
    -fx-background-color: red;
}

.label{
}

.button {
}

.button:hover {
    -fx-background-color: #3a3a3a;
}